<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-param"content="authenticity_token">
    <script src="https://kit.fontawesome.com/f1f4eb41b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"   href="" />
    <title>WebCampBackwndNew</title>

  </head>
  <body>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="show-title"><strong>Title:</strong>
    <%= @book.title %>
    </p>
    <p class="show-title"><strong>Body:</strong>
    <%= @book.body %>
    </p>
    
    <%= link_to "Edit", edit_book_path(@book) %> |
    
    <%= link_to "Back", books_path %>
  </body>